/* global */
.tabbrowser-tab {
	visibility: collapse;
}

.titlebar-button {
	height: 41px !important;
}

#nav-bar {
	margin-top: -41px;
	margin-right: 138px;
	box-shadow: none !important;
}

[uidensity="compact"]:root .titlebar-button {
	height: 32px !important;
}

[uidensity="compact"]:root #nav-bar {
	margin-top: -32px;
}






/* ADDRESS BAR */
:root[titlepreface=" "] #nav-bar {
    border-inline: var(--uc-window-drag-space-pre, 0px) solid var(--toolbar-bgcolor);
    border-right-width: calc(var(--uc-window-control-width, 0px) + var(--uc-window-drag-space-post, 0px));
    border-inline-style: solid !important;
}







/* context menu */
:root {
    --arrowpanel-menuitem-border-radius: 4px !important;
}

menupopup {
    --panel-border-radius: 8px !important;
}

/* Add rounded corners and padding to the context menu */
menupopup > menuitem,
menupopup > menu {
    margin: 0 4px;
    border-radius: var(--arrowpanel-menuitem-border-radius);
}

#context-navigation {
    padding-inline: 4px;
}

#context-navigation > menuitem[_moz-menuactive] .menu-iconic-icon {
    border-radius: var(--arrowpanel-menuitem-border-radius);
}

/* THEMING */
menupopup:not(.in-menulist) {
    --panel-background: var(--arrowpanel-background) !important;
    --panel-color: var(--arrowpanel-color) !important;
    --panel-border-color: var(--arrowpanel-border-color) !important;
}

#context-navigation > menuitem[_moz-menuactive]:not([disabled]) .menu-iconic-icon,
#main-window menupopup > menuitem[_moz-menuactive],
#main-window menupopup > menu[_moz-menuactive] {
    background-color: var(--panel-item-hover-bgcolor) !important;
    color: var(--panel-color, inherit) !important;
}

#context-navigation > menuitem[_moz-menuactive][disabled] .menu-iconic-icon {
    background-color: var(--panel-item-hover-bgcolor) !important;
}







/* SIDEBERY */
/* hides the sidebar header */
#sidebar-header {
	display: none !important;
}

.tab[selected="true"] {
	visibility: collapse;
	height: 0px;
}

.tabbrowser-tab {
	visibility: collapse;
	height: 0px;
}

.tabbrowser-tab[visuallyselected="true"] {
	visibility: collapse;
	height: 0px;
}

/* AUTO HIDE SIDE BAR */
#sidebar-box {
	--uc-sidebar-width: 44px; 
	--uc-sidebar-hover-width: 260px;
	--uc-autohide-sidebar-delay: 1ms; /* Waiting time before hiding sidebar */
	position: relative;
	min-width: var(--uc-sidebar-width) !important;
	width: var(--uc-sidebar-width) !important;
	max-width: var(--uc-sidebar-width) !important;
	z-index: 100;
}

#sidebar-box[positionend] {
	direction: rtl;
}
#sidebar-box[positionend] > * {
	direction: ltr;
}

#sidebar-box[positionend]:-moz-locale-dir(rtl) {
	direction: ltr;
}
#sidebar-box[positionend]:-moz-locale-dir(rtl) > * {
	direction: rtl;
}

/* HIDE SIDE BAR IN FULL SCREEN */
/* #main-window[sizemode="fullscreen"] #sidebar-box {
	--uc-sidebar-width: 0px;
} */

#sidebar-splitter {
	display: none;
}

#sidebar-header {
	overflow: hidden;
	color: var(--bg) !important;
}

#sidebar {
	transition: min-width 115ms linear var(--uc-autohide-sidebar-delay) !important;
	min-width: var(--uc-sidebar-width) !important;
	will-change: min-width;
}

#sidebar-box:hover > #sidebar {
	min-width: var(--uc-sidebar-hover-width) !important;
	transition-delay: 0ms !important;
}

.sidebar-panel {
	background-color: transparent !important;
	color: var(--newtab-text-primary-color) !important;
}

.sidebar-panel #search-box {
	-moz-appearance: none !important;
	background-color: rgba(249, 249, 250, 0.1) !important;
	color: inherit !important;
}

/* Add sidebar divider and give it background */
#sidebar,
#sidebar-header {
	background-color: inherit !important;
/* 	border-inline: 1px solid rgb(80, 80, 80); */
	border-inline-width: 0px 1px;
}

#sidebar-box:not([positionend]) > :-moz-locale-dir(rtl),
#sidebar-box[positionend] > * {
	border-inline-width: 1px 0px;
}

/* Move statuspanel to the other side when sidebar is hovered so it doesn't get covered by sidebar */
#sidebar-box:not([positionend]):hover ~ #appcontent #statuspanel {
	inset-inline: auto 0px !important;
}
#sidebar-box:not([positionend]):hover ~ #appcontent #statuspanel-label {
	margin-inline: 0px !important;
	border-left-style: solid !important;
}

